html(lang="en")
  head
    include includes/header
    link(rel="stylesheet" href="/login.css")
  body
    main#login
      #loginForm.card
        h2= title
        include includes/flash
        form.flex(action="/change-password" method="POST")
          label Old password: 
          input#oldPassword(type="password" name="oldPassword")
          label New password: 
          input#newPassword(type="password" name="newPassword")
          label Repeat new password: 
          input#repPassword(type="password" name="repPassword")
          input(type="submit")
  include includes/footer
  script(src="/login.js")
